@using Stock.Domain.ViewModels.Purchase;
@model PurchaseViewModel

<form method="post" asp-controller="Stores" asp-action="GetProductsByStoreId" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="SelectedStoreId"> Stores </label>
        <select name="SelectedStoreId" class="input-box width100" asp-items="@(new SelectList(Model.Stores, "Id", "Name"))">
        </select>
    </div>
    <button type="submit" class="btn btn-primary"> Get Products </button>
</form>


<h1 class="text-center mb-4">
    <i class="fa-solid fa-store"></i>
    Products
</h1>

<div class="d-flex justify-content-center">
    <table class="table text-center w-75">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Products",null,Context.Request.Scheme)','New Store')" class="btn btn-dark d-flex justify-content-center gap-2">
                        <i class="fas fa-add"></i>
                        add product
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <div class="d-flex justify-content-center gap-3">
                            <a onclick="showInPopup('@Url.Action("AddOrEdit","Products",new {id=item.Id},Context.Request.Scheme)','Update Product')"
                               class="text-primary">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a asp-asp-controller="Stores" asp-action="Delete" asp-route-id="@item.Id" class="text-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>